p {font-family:"Arial", "Sans-serif"; font-size:16px; color:ffffff;}
a {font-family:"Arial", "Sans-serif";}
h1 {font-family:"Arial", "Sans-serif"; font-size:18px; color:ffffff;}
h3 {font-family:"Arial", "Sans-serif"; font-size:20px; color:ffffff;}
ul.content-list {margin-left:0; padding-left:10px;}
ul.content-list li {padding-bottom:8px;}
